
@font-face {
  font-family: maison;
  src: url(fonts/maison-neue-medium.woff);
}

@font-face {
  font-family: maison-l;
  src: url(fonts/maison-neue-light.woff);
}


h2, h3, h4{
  font-family: maison;
}

h1{
  font-family: maison-l;
}


.badge-n {
  position: absolute;
  top: -52px;
  right: -30px;
  padding: 5px 10px;
  border-radius: 50%;
}

.badge-n img{
  width: 10%;
  float: right;
  -webkit-filter: drop-shadow(0px 0px 10px #2222224b);
  filter: drop-shadow(0px 0px 10px #2222224b);
}


.light{
  color: gray;
}

.margin-5{
  margin: 0 1rem;
}

.no-padding{
  padding-left: 0!important;
  padding-right: 0!important;
}

.no-margin{
  margin-right: 0!important;
  padding-right: 0!important;
  margin-left: 15px!important;
}

.v-slider-frame {
  height: 50px;
  overflow: hidden;
  text-align: center;
}

ul.v-slides {
  list-style-type: none;
  transform: translateY(50px);
  padding:0;
}

.v-slide {
  font-size: 1.75rem;
  font-family: maison;
  line-height: 50px;
  color:  #ff9800;
}

.no-margin-bottom{
  margin-bottom: 0!important;
}

.inline-text{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 50px;
}

body,
html {
  height: 100%;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #f0f0ee;
  margin: 0px;
  padding: 0;
}



.orange{
  color: #ff9800;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  } 
  
.all-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
}

.inner-panel{
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.center-panel{
  height: 75%;
  width: 100%;
  
  position: relative;
}

.jumbotron{
  background-color: #00000000!important;
}

.back-panel{
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.31);
box-shadow: 0px 0px 17px 8px rgba(0,0,0,0.31);
}


.mail{
  color: 
}

#pinContainer {
  background-color: #242424;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}
.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
}

#c{
  height: 100%;
  width: 50%;
  right: 0%;
  position: absolute;
}

.canvas{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

#x{
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1001;
}

.display-text{
  margin-bottom: 2rem;
  font-weight: 100;
}

.margin-bottom-10{
  margin-bottom: 6rem;
}

.Capa_1{
  width: 100%;
}


.WhackBro{
  width: 100%;
}


.bottom {
 -webkit-clip-path: inset(58% 0 0 0);
 clip-path: inset(58% 0 0 0);

}

.top {
  -webkit-clip-path: inset(0 0 41% 0);
 clip-path: inset(0 0 41%);

}



.flex-panel{
  display: flex;
  flex-direction: column;
}

.flex-item{
  
  justify-content: center;
  flex-direction: column;
}

.logo-wrapper{
  width: 100%;
  height: 80%;
  position: relative;
  
  margin-bottom: 5rem;
  
  padding-top: 5%;
  padding-bottom: 5%;
}

.name-wrapper{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 5vh;
 
}


.redShadow .Capa_1{  
  -webkit-filter: drop-shadow( 3px 3px 0px rgba(240, 146, 6, 0.911));
  filter: drop-shadow( 3px 3px 0px rgba(240, 159, 10, 0.856));
}
.greenShadow .Capa_1{  
  -webkit-filter: drop-shadow( 10px 10px 0px rgba(255, 0, 0, 0.7));
  filter: drop-shadow( 10px 10px 0px rgba(255, 0, 0, .7));
}

.glitch {
  position: absolute;
  width: 100%;
  height: 80%;
}

.glitch img{
  height: 100%;
  margin: 0 auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-filter: drop-shadow(0px 0px 10px #2222224b);
  filter: drop-shadow(0px 0px 10px #2222224b);
}


#name{
  color: rgb(34, 34, 34);
  -webkit-filter: drop-shadow(2px 2px 5px #2222224b);
  filter: drop-shadow(2px 2px 5px #2222224b);
}

#job{
  color: #3a3a3a;
  -webkit-filter: drop-shadow(2px 2px 5px #2222224b);
  filter: drop-shadow(2px 2px 5px #2222224b);
}



.projects {
  margin-top: 5rem;
  padding-top: 2rem;
  background: #fff;
  border-bottom: solid 1px #ececec;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: visible;
  text-align: center;
  
}


.Card1, .Card2, .Card3, .Card4, .Card5{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 22%;
  position: absolute;
  margin: 0 auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);
  max-width: 22%;
  background-color: blue;
  
}

.Card3 {
  bottom: -20px;
  z-index: 1;
  max-width: 33%;
}

.progressbar {
  display: block;
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 400px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
  
}
.progressbarBefore,
.progressbarAfter {
  content: '';
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #e91e63 0%, #e91e63 20%, #03a8f400 20%,  #ff562200 100%);
  background-position: 0 0;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 0px 41px 5px rgba(204,132,43,1);
-moz-box-shadow: 0px 0px 41px 5px rgba(204,132,43,1);
box-shadow: 0px 0px 41px 5px rgba(204,132,43,1);
  
}
.progressbarBefore::before {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.1);
}
.blurthat {
  z-index: 9;
  top: 6px;
  -webkit-filter: blur(16px);
          filter: blur(16px);
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.stylization {
  position: absolute;
  z-index: 999;
  height: 4px;
  width: 90%;
  left: 5%;
  top: 6px;
  opacity: 0.3;
}
.stylization::before,
.stylization::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  top: 0;
  border-radius: 2px;
}
.stylization::before {
  background: #fff;
  left: 0;
  right: 10px;
}
.stylization::after {
  width: 6px;
  background: #fff;
  right: 0;
}